body, html {
    width: 100%;
    height: 100%;
}

body {
	font-family: "Lato", sans-serif;
    background: #71afe2;
}
*{
	box-sizing: border-box;
}
.svgContainer {
    width: 1280px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*status*/
#simStatus {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 25px;
}
/*for the SVG*/
.svgContainer svg {
	width: 1280px;
	height: 720px;
}
.mainSVGbg {
	fill:#71AFE2;
}
.aConnection polyline, .aConnection line {
	fill: none;
    stroke: #6598BA;
    stroke-width: 3;
    stroke-miterlimit: 10;

}
.aConnection polygon, .aConnection circle {
	fill: #6598BA;
}

#CDB.aConnection polyline, #CDB.aConnection line {
    stroke: #59859E;

}
#CDB.aConnection polygon, #CDB.aConnection circle {
	fill: #59859E;
}

.aConnection:hover polyline, .aConnection:hover line {
    stroke: #ef4d4d !important;

}
.aConnection:hover polygon, .aConnection:hover circle {
	fill: #ef4d4d !important;
}


.aRectBG {
	fill: #FFFFFF;
    stroke: #34383A;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

/*ALU units*/

.aALUUnitBG{
    fill: #EAE549;
    stroke: #34383A;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
.aALUUnitTxt {
	font-size: 17.7498px;
}






/*memory*/
.memoryTxt {
	font-size:29.8114px;
}


/*titles*/
.svgBlockTitle {
	fill:#FFFFFF;
}
.t1 {
	font-size:37px;
}
.t4 {
	font-size:20.177px;
}

.tableCont {
	height: 100%;
	overflow-x: auto;
}

.aTable{
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

.aTable td {
	padding: 10px 5px;
	font-size: 20px;
}
.bordered td, .aTable td{
	border: 2px solid #34383A;
}

.aTable tr:first-child td{
	border-top: none;
}

.aTable tr:last-child td{
	border-bottom: none;
}

.aTable tr td:first-child{
	border-left: none;
}

.aTable tr td:last-child{
	border-right: none;
}



.tableCont {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}
.tableCont::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
.tableCont::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* sidebar styling */

#sidebar-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: none;
}
#sidebar{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #34383a;
    width: 400px;
    z-index: 20;
    padding: 25px 50px;
    transform: translateX(400px);
    transition: all .5s ease-in-out;
}
#sidebar.open{
    display: block;
    transform: translateX(0);
    overflow-y: scroll;
}
body.open{
    overflow: hidden;
}
.icon-o{
    position: fixed;
    right: 25px;
    top: 25px;
}
.icon-o .icon{
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #ef4d4d;
    padding-top: 17.5px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 15px;
}

.icon-o img{
    width: 25px;
}
#sidebar .sim-form{
    color: #ccc;
    text-transform: capitalize;
    opacity: 0;
    transition: all .5s ease-in-out;
}
#sidebar #sim-form.open{
    opacity: 1;
}
#sidebar .sim-form .instructions{
    margin-bottom: 20px;
}
#sidebar .sim-form .instructions label{
    display: block;
    margin-bottom: 10px;
}
#sidebar .sim-form .instructions textarea{
    display: block;
    width: 100%;
    border-radius: 10px;
    outline: 0;
    border: 0;
    background-color: #4c5356;
    resize: none;
    height: 200px;
    padding: 15px;
    color: #fff;
    letter-spacing: 2px;
    word-spacing: 5px;
}
#sidebar .sim-form .part{
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 40px;
    vertical-align: middle;
}

#sidebar .sim-form .part input{
    float: right;
    width: 100px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    background-color: #4c5356;
    color: #fff;
    border: 2px solid transparent;
    transition: all .3s ease-in-out;
}
#sidebar .sim-form .part input.wrong{
    border-color: rgba(255, 0, 0, 0.47843137254901963);
}
#sidebar .sim-form .submit-o{
    margin-top: 30px;
    text-align: center;
}
#sidebar .sim-form .submit-o input{
    border-radius: 50px;
    padding: 15px 40px;
    text-transform: uppercase;
    color: #fff;
    background-color: #ef4d4d;
    outline: 0;
    border: 0;
    cursor: pointer;
}
#sidebar .sim-form h3{
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
#sidebar .sim-form .part2 label{
    text-transform: uppercase;
}

.pos-num {
    text-align: center;
}